.gradle/
.idea/
local.properties
gradle/
BaseXpAndroid.iml


app/build/
app.iml


agentweb/agentweb.iml
agentweb/build/


AndPermission/build/
AndPermission/AndPermission.iml


autosize/build/
autosize/autosize.iml

popup/build/
popup/popup.iml

customtoast/build/
customtoast/customtoast.iml



