.gradle/
.idea/
local.properties
gradle/
BaseXpAndroid.iml


app/build/
app.iml


LayoutManagerGroup/LayoutManagerGroup.iml
LayoutManagerGroup/build/


agentweb/agentweb.iml
agentweb/build/


poputil/build/
poputil/poputil.iml


